.main {
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    padding: 10px;
}

.mainContent {
   
   display: flex;
   
}


.punkContainer {
    object-fit: contain;
}

.selectedPunk {
    height: 300px;
    border-radius: 20px;
}


.punkDetails .title, .itemNumber {
    color: #fff;
    font-size: 50px;
}


.ownerDetails {
    display: flex;
    position: relative;
    top: 93px;
    justify-content: space-between;
    width: 100%;
}

.punkDetailsContainer {
 flex: 1;
 margin-left: 10px;

}

.title{
    display: inline-block;

}

.itemNumber{
    margin-left: 15px;
}

.ownerimage{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.owner {
    object-fit: contain;
    display: flex;
    border-radius: 10px;
    border-radius: 50%;
}

.movethis {
    margin-left: 10px;
}

.movethis p:first-child{
    width: 100%;
    
}



/* .punkDetailsContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */


.ownerNameAndHandle {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.iconContainer {
    display: flex;
}


@media screen and (max-width: 600px) {
    .mainContent {
        flex-direction: column;
    }

    .ownerDetails {
        flex-direction: column;
        top: -0px;
        width: 100%;
    }

    .main {
        min-height: 558px;
        width: 100%;
    }

    .punkDetails .title, .itemNumber {
        font-size: 30px;
        margin: 20px 0px;
        text-align: center;
    }

    .ownerNameAndHandle {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .movethis{
        min-width: 50%;
        margin: 10px 0px;
        width: 100%;
    }

    .movethis P:first-child{
        width: inherit;
        position: relative;
        right: 30px;
    }

    .iconContainer .ownerLink img {
        width: 50px;
    }
}